:host {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/prog-lin/assets/svg/waves-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: #001220;
  color: white;
  font-family: 'Quicksand';
}

h1 {
  font-family: 'Oswald';
  font-size: 3em;
  margin: 8px 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &.center {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
  }
}

p {
  font-size: 1.2em;
  text-align: justify;
}

a {
  color: #e31ca7;

  &.as-button {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    padding: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
      position: relative;
      top: 1px;
    }
  }
}

.emph {
  color: #fa00a6;
}