<a class="as-button" href="/prog-lin/home">
  <img src="/prog-lin/assets/svg/back.svg" alt="" /> voltar</a
>
<div class="container center">
  <div class="title">
    <h1>SOBRE O PROJETO</h1>
  </div>
  <p>
    O projeto foi desenvolvido para a disciplina de
    <span class="emph">Programação Linear</span> do curso de Ciência da
    Computação da UNESP no ano de 2023, com o objetivo de implementar a solução
    para <span class="emph">o problema de transportes</span> de jornais no
    interior paulista.
  </p>
  <p>
    Desenvolvido por
    <a target="_blank" href="https://github.com/chinaglia-rafa"
      >Rafael Araújo Chinaglia.</a
    >
  </p>
</div>
