<a class="as-button" href="/home">
  <img src="../../../assets/svg/back.svg" alt="" /> voltar</a
>
<div class="container center">
  <table cellPadding="0" cellSpacing="0">
    <tr class="emph">
      <th rowspan="2">Fontes</th>
      <th colspan="5">Destinos</th>
      <th rowspan="2">Disp.</th>
    </tr>
    <tr>
      <th>Araraquara</th>
      <th>Assis</th>
      <th>Franca</th>
      <th>Presidente Prudente</th>
      <th>São Paulo</th>
    </tr>
    <tr>
      <td>Marília</td>
      <td>
        <input class="square-input" type="text" />
        <div class="corner">x<span class="sub">11</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">12</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">13</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">14</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">15</span></div>
      </td>
      <td class="emph"></td>
    </tr>
    <tr>
      <td>Rio Preto</td>
      <td>
        <div class="corner">x<span class="sub">21</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">22</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">23</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">24</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">25</span></div>
      </td>
      <td class="emph"></td>
    </tr>
    <tr>
      <td>São Paulo</td>
      <td>
        <div class="corner">x<span class="sub">31</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">32</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">33</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">34</span></div>
      </td>
      <td>
        <div class="corner">x<span class="sub">35</span></div>
      </td>
      <td class="emph"></td>
    </tr>
    <tr class="emph">
      <td><b>Necessidade</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="log">
    <app-logger></app-logger>
  </div>
</div>
